.login {
  height: 100%;
  color: $color-background-card;
  background-image: asset-url('background/image-01.jpg');
  background-size: cover;

  &__container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background: $color-overlay;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &__form {
    width: 90%;
    max-width: 450px;
  }

  &__title {
    margin-bottom: 22px;
    font-weight: 300;
    font-size: 60px;
  }

  &__subtitle {
    margin-bottom: 80px;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
  }

  &__subtitle + &__error {
    margin-top: -60px;
  }

  &__error {
    display: inline-block;
    width: 90%;
    max-width: 450px;
    height: 60px;
    border-radius: 5px;
    background: $color-overlay;
    font-size: 14px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
  }

  &__field {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 0 6px 0 86px;
    border: 1px solid $color-background-card;
    border-radius: 5px;
    color: $color-background-card;
    background: transparent;
    outline: none;

    &:-webkit-autofill,
    #user_email:-webkit-autofill,
    #user_password:-webkit-autofill {
      box-shadow: 0 0 0 1000px $color-autofill-input inset;
      -webkit-text-fill-color: $color-background-card;
    }

    &__label {
      position: absolute;
      display: flex;
      width: 80px;
      height: 60px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__icon {
      width: 16px;
      height: 16px;
    }
  }

  &__button {
    width: 100%;
    height: 60px;
    border: 0;
    border-radius: 5px;
    background-color: $color-call-for-action;
    text-transform: uppercase;
  }
}
