// COLOR BLUE ----------------------------------------------
$color-blue-one: #0094c6;
$color-blue-two: #005e7c;
// COLOR GREEN ---------------------------------------------
$color-green-one: #6ddd4c;
// COLOR GRAY ----------------------------------------------
$color-gray-one: #2d2d2d;
$color-gray-two: #999;
$color-gray-three: #ddd;
$color-gray-four: #ececec;
$color-gray-five: #f2f2f2;
$color-gray-six: #f8f8f8;
// COLOR WHITE ---------------------------------------------
$color-white: #fff;
