// COLOR BLUE ----------------------------------------------
$color-blue-one: #0094C6;
$color-blue-two: #005E7C;
// COLOR GREEN ---------------------------------------------
$color-green-one: #6DDD4C;
// COLOR GRAY ----------------------------------------------
$color-gray-one: #2D2D2D;
$color-gray-two: #999999;
$color-gray-three: #DDDDDD;
$color-gray-four: #ECECEC;
$color-gray-five: #F2F2F2;
$color-gray-six: #F8F8F8;
// COLOR WHITE ---------------------------------------------
$color-white: #FFFFFF;
