@charset 'utf-8';

.button {
  display: inline-block;
  height: 38px;
  padding: 0 $spacing;
  border: 0;
  border-radius: 4px;
  white-space: nowrap;
  color: $color-text-strong-invert;
  background-color: $color-text;
  font-weight: 600;
  font-size: 11px; // TODO: this should be a variable somewhere
  letter-spacing: .1rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
