@charset 'utf-8';

.activity-item {
  @include clearfix;
  margin-bottom: $spacing;
  padding: $spacing;

  &:not(:last-child) {
    border-bottom: 1px solid $color-background;
  }
}

.activity-item__left {
  @include column(2);

  .avatar { // Interaction with avatar component
    height: 65%;
    width: 65%;
  }
}

.activity-item__content {
  @include column(10);
}
