@charset 'utf-8';

.activity-form {
  @include clearfix;
  margin: 0 (-$spacing);
  padding: 0 $spacing $spacing;
  border-bottom: 1px solid $color-background;

  &__body {
    display: block;
    float: left;
    width: calc(100% - 34px * 2);
    height: 34px;
    padding: 0 6px;
    border: 1px solid $color-background;
    border-right: 0;
    border-left: 0;
    background-color: $color-background-card;
  }

  &__button {
    display: block;
    float: left;
    width: 34px;
    height: 34px;
    border: 1px solid $color-background;
    background: $color-background-card center / 14px no-repeat;

    &--image {
      border-radius: 6px 0 0 6px;
      background-image: inline-image('icons/icn-picture.svg');
    }

    &--submit {
      border-radius: 0 6px 6px 0;
      background-image: inline-image('icons/icn-post.svg');
    }
  }
}

.activity-item {
  @include clearfix;
  margin-bottom: $spacing;
  padding: $spacing;

  &:not(:last-child) {
    border-bottom: 1px solid $color-background;
  }
}

.activity-item__left {
  @include column(2);

  .avatar { // Interaction with avatar component
    width: 65%;
    height: 65%;
  }
}

.activity-item__content {
  @include column(10);
}
