@charset 'utf-8';

.avatar {
  display: inline-block;
  height: 100px;
  position: relative;
  vertical-align: middle;
  width: 100px;
}

.avatar--small {
  height: 32px;
  width: 32px;
}

.avatar--person {
  border-radius: 50%;
}

.avatar--project {
  border-radius: 10%;
}


.avatar--technology {
  -moz-clip-path: polygon(
    29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
  );
  -ms-clip-path: polygon(
    29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
  );
  -webkit-clip-path: polygon(
    29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
  );
  clip-path: polygon(
    29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
  );
}
