.card--profile__name {
  display: block;
  margin: 0;
  font-weight: 300;
  font-size: 2.4rem;
}

.card--profile__subname {
  display: block;
  font-size: 1.5rem;
}

.card--profile__data {
  display: block;
  font-size: 1.2rem;
}
