@charset 'utf-8';

.navbar {
  height: $navbar-height;
  color: $navbar-color;
  background-color: $navbar-background-color;

  a {
    color: $navbar-a-color;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__brand {
    height: 50px;
    margin: 0;
    display: block;
    float: left;

    a {
      height: 100%;
      display: block;
    
      &:before {
        content: ' ';
        height: 100%;
        vertical-align: middle;
        display: inline-block;
      }

      img {
        vertical-align: middle;
        display: inline-block;
      }
    }
  }

  &__container {
    height: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    display: block;

    li {
      height: 100%;
      position: relative;
      float: left;
    }

    &--right {
      float: right;
    }
  }
}
