ul.picture-list {
  list-style-type: none;
  display: block;
  overflow: hidden;

  li {
    display: inline-block;
    float: left;
    margin: 8px;

    a {
      width: 45px;
      height: 45px;
      background: $smoke;
      border-radius: 50%;
      display: inline-block;
      overflow: hidden;
    }
  }
}
