@charset 'utf-8';

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  overflow: hidden;
  padding: 10px;
  position: relative;
}

@include respond-above('medium') {
  .container {
    padding: 20px;
  }

  aside {
    @include column(4);
  }

  .main {
    @include column(8);
    @include gutter;
  }
}
